/* body {
    margin: 0;
    background-color: black;
    height: 100vh;     
    font-family: ShopifySans, Helvetica, Arial, Lucida Grande, sans-serif;
   
    } */
    body {
        background-color: black;
        height: 100vh;
    }
    * {margin: 0;
        padding: 0;
        box-sizing:border-box ;
        font-family: "Oswald" , sans-serif;
        }
    .announcement-bar__message {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1; /* Sumažina eilės tarpą */
    }
    .icon-arrow {
        margin-left: 5px; 
        width: 16px; 
        height: 10px;
        color: black;
    }

    .beginning {  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(227,252, 2);
    height: 50px;
    position: relative;
}
p {
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 18.2px;
   }
   img {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .menuContainer {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 50px 100px;
   }
   .logoImg {
    width: 90px;
    }
    .topNavContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
    }
    .topUlcontainer {
        display: flex;
        justify-content:center;
        align-items: center;
        gap: 40px;
    }
    .topUlcontainer li {
        list-style: none;
    }
    .topUlcontainer li a {
        text-decoration: none;
        font-family: "Oswald", sans-serif;
        font-weight:700;
        color: #FFFFFFBF;
    }
.topUlcontainer li a:hover {
    border-bottom: 1px solid white;
    cursor: pointer;

}
svg {
    color:#FFFFFFBF ;
}
.image-with-text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-self: center;
    position: relative;
    
  }
.surfers {
    align-items: flex-start;
    color:#FFFFFFBF ;
    width: 500px;
    height: 150px;
    font-family:  "Avenir Next", sans-serif;
   
}
.topHead {
    display: flex;
    font-size: 36px;
    text-align: center;
    /* width: 60%; */
    color:#FFFFFFBF ;

    
}
.topHeadBtn {
    padding: 15px 25px;
    background-color:yellow;
    color: white;
}