* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container {
    width: 100%;
    height: 100vh;
    background-image: url('../foto/horizontal-view-of-asphalt-road-in-thailand-background-empty-land-and-side-eucalyptus-forest-under-the-blue-sky-free-photo.jpg');
}
.box1 {
    background-image: url('../foto/Penguin-png-15 (1).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    animation: disco 1s 5 alternate-reverse linear;
    
  }
@keyframes disco {
    0% {
        background-color: chocolate;
    }
    25% {
        background-color: coral;
    }
    50% {
        background-color: crimson;
    }
    75% {
        background-color: darkorchid;
    }
    100% {
        background-color: aqua;
    }
}

