body {
  margin: 0;
  font-size: 20px;
  background-color: azure;
  margin: 0;
  font-size: 20px;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1 {
  color: rgb(69, 110, 97);
}
