body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
H1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkseagreen;
    font-weight: bolder;
    font-size: 32px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
   
}
table, th, td {
    border: 1px solid #a72020;
    padding: 10px;
    text-align: left;
}
form {
    margin-bottom: 20px;
}
form input {
    padding: 8px;
    margin-right: 10px;

}
form button {
    padding: 8px 16px;
    cursor: pointer;
    border: 2px solid rgb(152, 73, 231);
   background-color: gainsboro;
}